
.btn__filtro{
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background: white;
    color: var(--Color-rojo);
    font-weight: bold;
    cursor: pointer;
}
.active{
    background: var(--Color-rojo);
    color: white;
}
