@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "/src/css/styleColor.css";

*{
  box-sizing: border-box;
}

body{
  background-color: var(--Color-azul-fondo);
  color: var(--Color-text-blanco);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: var(--Color-azul-claro);
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
 h1{
   text-align: center;
 }
.search{
  background-color: transparent;
  border: 2px solid var(--Color-azul-claro);
  border-radius: 50px;
  color: var(--Color-text-blanco);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
}

.search:focus{
  outline: 0;
}

.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,130px);
  place-items: center;
}
.movie{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 120px;
  text-align: center;
}
.movie img {
  max-width: 100%;
}
.movie h3{
  font-size: 50%;
}