@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "/src/css/styleColor.css";
@import "/src/css/svgColor.css";
* {
  box-sizing: border-box;
}

body {
  background-color: var(--Color-azul-fondo);
  color: var(--Color-text-blanco);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--Color-azul-claro);
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
h1 {
  text-align: center;
}
.search {
  background-color: transparent;
  border: 2px solid var(--Color-azul-claro);
  border-radius: 50px;
  color: var(--Color-text-blanco);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
}

.search:focus {
  outline: 0;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  gap: 2px;
  place-items: center;
}

.movie {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 120px;
  height: 220px;
  text-align: center;
}
.link__movie:hover{
  color: var(--Color-amarillo);
}
.movie-header {
  position: absolute;
  border-radius: 5px;
  background-color: red;
  top: 10px;
  left: 65px;
  width: 50px;
  height: 20px;
}
.movie-header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie .img {
  width: 100%;
  height: 160px;
}
.movie h3 {
  margin: 0;
  font-size: 50%;
  display: block;
}
.playSvg {
  width: 11px;
  height: 12px;
  background-image: url(../svg/play.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main__dark {
  background-color: rgb(26, 24, 24);
  color: white;
}

.main__ligth {
  background-color: white;
  color: black;
}

.movie__titulo{
  font-size: 10px;
}

.btnanimated2 {
  display: none;
}
.margin-btn-cargar-mas{
  width: 100%;
  display: grid;
  place-items: center;
}
.margin-btn-pagi{
  display: flex;
  width: 260px;  
}
.btn-cargar-mas{
  margin: 0 auto 0 auto;
  max-width: 30px;
  min-width: 10px;
  height: 30px;
  background: none;
  border: none;
  border-radius: 50px;
  background-color: var(--Color-azul-fondo);
  color: var(--Color-text-blanco);
  cursor: pointer;
}
.btn-cargar-mas:hover{
  color: var(--Color-azul-fondo);
  background-color: var(--Color-text-blanco);
}
@media screen and (min-width: 280px) {
  .movie-container{
    margin: auto;
     grid-template-columns: 50% 50%;
  }
}
@media screen and (min-width: 390px) {
  .movie-container{
    margin: auto;
     grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 770px) {
  .movie-container{
    width: 80%;
    margin: auto;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}