.modal__name{
    height: 75%;
    width: 120px;
    background-color: none;
    visibility: hidden;
    opacity: 0;
    top:33px;
    position:absolute;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 10px;
    z-index: -1;
  }

  .link__movie:hover .modal__name{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 30.71%),
                linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0,255,0,0) 30.71%),
                linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0,0,255,0) 30.71%),
                linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0,0,255,0) 30.71%);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    z-index: 100;
    color:var(--Color-text-blanco);
  }
  
  