:root{
    --Color-text-negro:#000000;
    --Color-text-blanco:#FFFFFF;
    --Color-amarillo:#FA9035;
    --Color-rojo:#EE2B47;
    --Color-azul-claro:#11468F;
    --Color-azul-fondo:#041562;
    --Color-azul-opaco:#1A1A40;

}