@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(78, 7, 7);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search{
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus{
  outline: 0;
}

.movie-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie{
  background-color: #3b47c5;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  max-width: 100%;
}